<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      QR Code Reader
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">QR Code Reader ({{ platform$ | async }})</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-col size-sm="6" offset-sm="3">
        <ion-item>
          <ion-button (click)="readQRCode()">Read QR code</ion-button>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-sm="6" offset-sm="3">
        <ion-item>
          <ion-label>{{ qrId$ | async }}</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-sm="6" offset-sm="3">
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Demo</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="formGroup">
        <ion-item>
          <ion-label position="fixed">Formats</ion-label>
          <ion-select
            multiple="true"
            placeholder="Formats"
            formControlName="formats"
          >
            <!-- <ion-select-option [value]="barcodeFormat.Aztec"
              >Aztec</ion-select-option
            >
            <ion-select-option [value]="barcodeFormat.Codabar"
              >Codabar</ion-select-option
            >
            <ion-select-option [value]="barcodeFormat.Code39"
              >Code39</ion-select-option
            >
            <ion-select-option [value]="barcodeFormat.Code93"
              >Code93</ion-select-option
            >
            <ion-select-option [value]="barcodeFormat.Code128"
              >Code128</ion-select-option
            > -->
            <!-- <ion-select-option [value]="barcodeFormat.DataMatrix"
              >DataMatrix</ion-select-option
            >
            <ion-select-option [value]="barcodeFormat.Ean8"
              >Ean8</ion-select-option
            >
            <ion-select-option [value]="barcodeFormat.Ean13"
              >Ean13</ion-select-option
            >
            <ion-select-option [value]="barcodeFormat.Itf"
              >Itf</ion-select-option
            >
            <ion-select-option [value]="barcodeFormat.Pdf417"
              >Pdf417</ion-select-option
            > -->
            <ion-select-option [value]="barcodeFormat.QrCode"
              >QrCode</ion-select-option
            >
            <!-- <ion-select-option [value]="barcodeFormat.UpcA"
              >UpcA</ion-select-option
            >
            <ion-select-option [value]="barcodeFormat.UpcE"
              >UpcE</ion-select-option
            > -->
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label position="fixed">Lens Facing</ion-label>
          <ion-select formControlName="lensFacing">
            <ion-select-option [value]="lensFacing.Front"
              >Front</ion-select-option
            >
            <ion-select-option [value]="lensFacing.Back"
              >Back</ion-select-option
            >
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label position="fixed"
            >State</ion-label
          >
          <ion-input
            formControlName="googleBarcodeScannerModuleInstallState"
            type="number"
            [readonly]="true"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="fixed"
            >Progress</ion-label
          >
          <ion-input
            formControlName="googleBarcodeScannerModuleInstallProgress"
            type="number"
            [readonly]="true"
          ></ion-input>
        </ion-item>
        <ion-button
          expand="block"
          (click)="startScan()"
          [disabled]="!isSupported"
          >Start Scan ({{ isSupported }})</ion-button
        >
        <!-- <ion-button
          expand="block"
          (click)="readBarcodeFromImage()"
          [disabled]="!isSupported"
          >Read Barcode From Image</ion-button
        >
        <ion-button expand="block" (click)="scan()" [disabled]="!isSupported"
          >Scan</ion-button
        >
        <ion-button
          expand="block"
          (click)="openSettings()"
          [disabled]="!isSupported"
          >Open Settings</ion-button
        > -->
        <ion-button
          expand="block"
          (click)="installGoogleBarcodeScannerModule()"
          [disabled]="!isSupported"
          >Install Google Barcode Scanner Module</ion-button
        >
        <ion-button
          expand="block"
          (click)="requestPermissions()"
          [disabled]="isPermissionGranted"
          >Request Permissions ({{ isPermissionGranted }})</ion-button
        >
      </form>
    </ion-card-content>
  </ion-card>


</ion-content>
