<ion-header>
  <ion-toolbar>
    <ion-title> Document uploader </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid *ngIf="(qrId$ | async)">
    <ion-row>
      <ion-label position="stacked">Reading docs for {{ qrId$ | async }}</ion-label>
      <!-- <ion-input type="text" [value]="qrId$ | async"></ion-input>     -->
    </ion-row>
    <ion-row>
      <ion-label position="stacked">Details: {{ (qrCodeDocument$ | async)?.details }}</ion-label>
      <!-- <ion-input type="text" [value]="(qrCodeDocument$ | async)?.details"></ion-input>     -->
    </ion-row>
    <ion-row>
      <ion-label position="stacked">Description {{ (qrCodeDocument$ | async)?.description }}</ion-label>
      <!-- <ion-input type="text" [value]="(qrCodeDocument$ | async)?.description"></ion-input>     -->
    </ion-row>
    <ion-row>
      <!-- <ion-col size-sm="6" offset-sm="3"> -->
      <ion-col>
        <app-image-picker></app-image-picker>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list *ngIf="(qrId$ | async)">
    <ion-item-sliding *ngFor="let document of documents$ | async" #slidingItem>
      <ion-item (click)="onDocumentClick(document)">
        <ion-thumbnail slot="start">
          <ion-img [src]="document.docContent"></ion-img>
        </ion-thumbnail>
        <ion-label>
          <div class="offer-details">
            <ion-icon [name]="document.docType === 'IMAGE' ? 'image' : 'document-text'" color="primary"></ion-icon>
            <ion-text color="tertiary" class="space-left">{{ document.docId }}</ion-text>
          </div>
        </ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option
          color="tertiary"
          (click)="onDelete(document.docId, slidingItem)"
        >
          <ion-icon name="trash" slot="icon-only"></ion-icon>
        </ion-item-option>
      </ion-item-options>
      <ion-item-options side="start">
        <ion-item-option
          color="secondary"
          (click)="onDocumentClick(document, slidingItem)"
        >
          <ion-icon name="create" slot="icon-only"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="scan()" [disabled]="!isSupported">
      <ion-icon name="scan"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab slot="fixed" vertical="bottom" horizontal="start">
    <ion-fab-button (click)="upload()" [disabled]="(isUpdated$ | async)">
      <ion-icon name="push"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
